body, header, h1, h2, h3, p, dl, dt, dd, pre, code {
    margin:0;
    padding: 0;
}

ul {
    margin-top:0;
    margin-bottom: 0;
}

a {
    color: #0000FF;
}

a:focus {
    background-color:#fff;
}

body {
    font-family:"PT Sans";
    font-size: 17px;
    background-image: url('../img/ps_neutral.png');
}

body > header {
    background-color: #7EB116;
    color: #FFFFFF;
    opacity: 0.95;
    padding: 10px 120px 30px;
    position: relative;
}

body > header:before {
    background: url("../img/park.jpg") no-repeat center center;
    background-size:cover;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0.25;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
    font-weight: normal;
    margin-left:-20px;
    margin-right:-20px;
    padding: 4px 20px;
    color:#466A00;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top:10px;
    margin-bottom:5px;
}

h3 {
    margin-top: 10px;
}

dt {
    margin-top:7px;
}

section {
    padding: 2px 120px;
    margin-bottom: 10px;
}

header > p {
    font-size:24px;
    line-height:24px;
}

section p {
    padding: 10px 20px;
}

.code-example {
    margin-top:10px;
    background: #EFEFEF;
    font-family: courier;
    font-size: 16px;
    line-height: 18px;
    max-width: 500px;
    padding:10px 10px;
    margin-bottom: 10px;
}

ul[role="tree"] li {
    list-style-type: none;
}

#custom-toggle > ul {
    padding:0;
    margin:0;
    margin-left:10px;
}

.default-toggle, .default-toggle:after {
    height: 8px;
    width: 8px;
}

.custom-toggle, .fa-plus-square, .fa-minus-square {
    color:#466A00;
}

.custom-toggle {
    float: left;
    margin-right: 4px;
}

.default-toggle {
    border: 1px solid #999999;
    display: inline-block;
    cursor: pointer;
}

.default-toggle:after {
    position: absolute;
    text-align: center;
    line-height: 8px;
}

.has-children {
    margin-left: -19px;
}

li[aria-expanded="false"] > .default-toggle:after {
    content: "+";
}

li[aria-expanded="true"] > .default-toggle:after {
    content: "-";
}

li:focus {
    border:none;
    outline:none;
}

li[aria-expanded="false"] > ul {
    display:none;
}

li[aria-expanded="true"] > ul {
    display:block;
}

@media ( max-width : 1025px) {
    body > header, section {
        padding-left:80px;
        padding-right:80px;
    }
}

@media ( max-width : 769px) {
    body > header, section {
        padding-left:20px;
        padding-right:20px;
    }

    main > section:first-child h2 {
        margin-top:0;
    }

    section {
        padding-top:0;
    }

    h2 {
        border-radius:0;
    }
}

@media ( max-width : 385px) {
    h1 {
        font-size: 39px;
    }

    header > p {
        font-size:20px;
        line-height: 21px;
    }

    h2 {
        font-size: 32px;
    }
}