@header-font-family: "PT Sans Narrow";
@header-image: url("../img/park.jpg") no-repeat center center;
@header-image-opacity: .15;
@header-background: hsl(218, 61%, 50%);
@term: hsl(218, 61%, 50%);
@repo-link-background: darken(hsl(218, 61%, 50%),15%);
@repo-link-background-hover: #444;
@repo-link-color:#fff;
@repo-link-color-hover:#fff;

@import "mixins.less";
@import "common.less";
@import "project.less";

#simple-list-example {
  i.fa {
    color:#444;
    margin-right:5px;
  }
}

ul[role="tree"] {
  list-style-type: none;

  &:focus {
    outline:1px dotted #0000ff;
  }

  li {
    list-style-type: none;

    &[aria-selected="true"]  {
      outline: none;
    }

    &[aria-expanded="false"] > ul {
      display:none;
    }

    &[aria-expanded="true"] > ul {
      display:block;
    }
  }
}

.font-awesome-tree {
  line-height: 24px;

  > ul {
   padding: 5px 0 5px 30px;
   margin: 8px 0 0 0;
  }

  .at-toggle {
    float: left;
    margin-right: 4px;
    line-height:23px;
    color: @term;
  }

  .at-has-children {
    margin-left: -20px;
  }

  li {
    padding-left:10px;
    border-left: dotted 1px transparent;
    margin-left:-1px;

    .tree-item-label {
      padding:0 2px;
      border:dotted 1px transparent;
    }

    &[aria-selected="true"] {
      border:none;
      outline:none;
      color:@term;
      border-left:dotted 1px #ccc;

      > .tree-item-label {
        border:dotted 1px @term;
        background-color: #fff;
      }

      ul {
        color:#000;
      }
    }
  }
}

#other-code-example-real {
  li {
    .tree-item-label {
      padding:0 3px;
      border: none;
      .border-radius(2px);
    }

    &[aria-selected="true"] {
      color: #fff;
      border-left: dotted 1px transparent;

      > .tree-item-label {
        border: none;
        background-color: @term;
      }
    }
  }
}

.code-example {
  margin-top:10px;
  margin-bottom: 10px;
  background: #efefef;
  max-width: 500px;
  padding:10px 10px;

  code {
    background:none;
    padding: 0;
    border: none;
    .border-radius(4px);

    .option {
      color:#ff4500;
    }
  }

  h3 {
    margin-top:0;
  }

  > ul {
    margin-top:12px;
  }
}

#code-example-real {
  margin-top: 5px;
}

@import "projectResponsive.less";