@header-font-family: "PT Sans Narrow";
@header-image: url('../img/awesome.jpg') no-repeat center center;
@header-image-opacity: .25;
@header-background: #444;
@term: hsl(218, 61%, 50%);
@repo-link-background: darken(hsl(218, 61%, 50%),15%);
@repo-link-background-hover: #222;
@repo-link-color:#fff;
@repo-link-color-hover:#fff;

@import "mixins.less";
@import "common.less";
@import "project.less";

#projects {

  h3 {
    background:none;
    padding: 0 7px;
    text-align: left;
    z-index: 2;
    font-weight:normal;
    font-size:30px;
    margin:0 0 10px 0;
    color:#58442e;
  }

  .floating-list();

  ul {
    width: 100%;
    clear:both;
    margin: 15px 0;
    .clearfix();
  }

  li {
    height:140px;
    margin:12px 0;
    width:49.5%;

    p {
      padding:0 7px 15px 7px;
    }

    &:nth-child(2n+1) {
      margin-right: 0.5%;
    }

    &:nth-child(2n) {
      margin-left: 0.5%;
    }

    a.project-page {
      color:#234b90;
      display:block;
      margin-top:10px;
    }
  }
}

@import "projectResponsive.less";

@media ( max-width : 1204px) {
  #projects {
    li {
      height:160px;
    }
  }
}

@media ( max-width : 900px) {
  #projects {
    li {
      height:180px;
    }
  }
}

@media ( max-width : 769px) {
  #projects {
    li {
      width:100%;
      height:auto;

      &:nth-child(2n+1), &:nth-child(2n) {
        margin:10px 0;
      }
    }
  }
}
